<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ast -->
      <package
            uri="http://ingi.dk/emf/python"
            class="dk.ingi.emf.python.ast.AstPackage"
            genModel="model/ast.genmodel"/>
   </extension>

</plugin>
